---
- name: Remove help message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/10-help-text
    state: absent
  become: true

- name: Remove news message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/50-motd-news
    state: absent
  become: true

- name: Remove contract-us-esm message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/91-contract-ua-esm-status
    state: absent
  become: true

- name: Remove release-upgrade message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/91-release-upgrade
    state: absent
  become: true

- name: Remove unattended upgrades message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/92-unattended-upgrades
    state: absent
  become: true

- name: Remove HWE EOL message of the day
  ansible.builtin.file:
    path:  /etc/update-motd.d/95-hwe-eol
    state: absent
  become: true

- name: Stat /etc/default/motd-news
  ansible.builtin.stat:
    path: /etc/default/motd-news
  register: motdnews

- name: Disable dynamic motd-news
  ansible.builtin.lineinfile:
    path: /etc/default/motd-news
    regexp: "^ENABLED=1"
    line: "ENABLED=0"
  become: true
  when: motdnews.stat.exists
