---
- name: apt install python3-pip
  ansible.builtin.apt:
    pkg:
      - python3-pip
    state: "{{ ubuntu_apt_upgrade | ternary('latest', 'present') }}"
  become: true

- name: pip upgrade pip
  ansible.builtin.pip:
    name: pip
    state: "{{ ubuntu_apt_upgrade | ternary('latest', 'present') }}"
  become: true

- name: pip install python3 tools
  ansible.builtin.pip:
    name:
      - virtualenv
      - setuptools
      - psutil 
    state: "{{ ubuntu_apt_upgrade | ternary('latest', 'present') }}"
  become: true
