---
- name: Install tzdata
  ansible.builtin.apt:
    pkg:
      - tzdata
    state: "{{ ubuntu_apt_upgrade | ternary('latest', 'present') }}"
  become: true
 
- name: Set timezone
  community.general.timezone:
    name: "{{ ubuntu_timezone }}"
  become: true

- name: Install ntp
  ansible.builtin.apt:
    pkg:   ntp
    state: "{{ ubuntu_apt_upgrade | ternary('latest', 'present') }}"
  become: true
  when: ubuntu_ntp_enable

- name: Enable ntp
  ansible.builtin.service:
    name: ntp
    state: started
    enabled: true
  become: true
  when: ubuntu_ntp_enable