---
- name: Disable apt periodic update of package lists
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/20auto-upgrades
    regexp: '^APT::Periodic::Update-Package-Lists "\\d";$'
    line: 'APT::Periodic::Update-Package-Lists "0";'
  become: true

- name: Disable apt auto upgrade
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/20auto-upgrades
    regexp: '^APT::Periodic::Unattended-Upgrade "\\d";$'
    line: 'APT::Periodic::Unattended-Upgrade "0";'
  become: true

- name: Systemd disable service apt-daily-upgrade
  ansible.builtin.systemd:
    service: apt-daily-upgrade
    enabled: false
    masked: true
  become: true
